# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\nicof\OneDrive\Escritorio\store_product\StoreProductOrder-StoreOrder-VersionCompleta-develop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
